/* Styles for the Slides UI */

/* right edge of screen, stays 0px width until class 'open' is added */
.slides-sidebar {
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	width: auto;
	z-index: 10;
	padding: 0;
	color: #BBB;
	background-color: #111111AA;
	text-align: left;
	font-size: 12pt;
	font-family: Helvetica, sans-serif;
}

/* upper-right corner that is always visible */
.slides-corner {
	position: fixed;
	top: 0;
	right: 0;
}
/* button that opens/closes the sidebar. Always visible even when sidebar is 0px wide */
.slides-sidebar-btn {
	display: block;
	margin: 4px 4px .5em auto;
	width: 30px;
	border: 2px solid black;
	border-radius: 4px;
	padding: 0;
	background-color: #111;
}
/* fancy animated icon for the sidebar open/close button */
.slides-sidebar-btn .bar {
	position: relative;
	border: none;
	background-color: #BBB;
	margin: 4px;
	height: 3px;
	transition: 0.3s;
}
.slides-sidebar.open .slides-sidebar-btn .bar1 {
    -webkit-transform: translate(0, 7px) rotate(-45deg);
    transform: translate(0, 7px) rotate(-45deg);
}
.slides-sidebar.open .slides-sidebar-btn .bar2 { opacity: 0; }
.slides-sidebar.open .slides-sidebar-btn .bar3 {
    -webkit-transform: translate(0, -7px) rotate(45deg);
    transform: translate(0, -7px) rotate(45deg);
}

/* Hide notifications immediately when sidebar opened. */
.slides-sidebar.open .slides-notify {
	display: none;
}

/* main UI area of the sidebar which grows when sidebar is opened */
.slides-sidebar .ui {
	width: 0;
	overflow: hidden;
	transition: width .3s;
}
.slides-sidebar.open .ui {
	width: 14em;
}
.slides-sidebar .ui-inner {
	padding: .5em;
	width: 9em;
	margin-right: auto;
}
.slides-sidebar h5 {
	margin: .5em 0 .3em 0;
	padding: 0;
	font-weight: bold;
}

.slides-notify p { margin: .5em; padding: 0; text-align: right; width: 200px; }

.slides .status {
	font-size: 75%;
	margin: 0; padding: 0;
	list-style-type: none;
}
.slides .status li {
	display: block;
	margin: 2px 0; padding: 0;
}
.slides .status li .host {
	font-family: Consolas, Inconsolata, Courier New, monospace;
}
.slides .status li.connecting { color: #FFFFBB; }
.slides .status li.connected { color: #CCFFCC; }
.slides .status li.disconnected { color: #FFCCCC; }
.slides .status li.broadcast { color: #CCCCEE; }

.slides .status-actions {
	display: flex;
	flex-flow: column;
	gap: 4px;
	margin: 4px 0;
}
.slides .status-actions > * { display: none; }
.slides .status-actions > label { font-size: 90%; }

.navbuttons {
	position: fixed;
	left:0;
	bottom: 0;
	z-index: 9;
}
.navbuttons button {
	display: block; width: 75px; height: 100px;
	margin: 16px;
	background-color: #111111AA; color: white;
	font-size: 14pt;
	touch-action:manipulation;
}
.navbuttons button.step {
	height: 200px;
}

.presenternotes {
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 9;
	background-color: #111111AA;
	font-size: 14pt;
}

/* main content of 
.slides-menu {
	margin: 30px 4px 4px 4px;
}
.slides-menu button { display: block; }
.slides-menu-btn {
	position: fixed;
	top: 0;
	right: 0;
	margin: 0 0 .5em auto;
	width: 30px;
	border: 2px solid black;
	border-radius: 4px;
	padding: 0;
	background-color: #111;
}
.slides-menu-btn .bar {
	position: relative;
	border: none;
	background-color: #BBB;
	margin: 4px;
	height: 3px;
	transition: 0.3s;
}
.slides-menu.open .slides-menu-btn .bar1 {
    -webkit-transform: translate(0, 7px) rotate(-45deg);
    transform: translate(0, 7px) rotate(-45deg);
}
.slides-menu.open .slides-menu-btn .bar2 { opacity: 0; }
.slides-menu.open .slides-menu-btn .bar3 {
    -webkit-transform: translate(0, -7px) rotate(45deg);
    transform: translate(0, -7px) rotate(45deg);
}
.slides-menu .status > * { display: none; }
.slides-menu.open .status > * { display: block; }
.slides-menu .status .popup { display: block; }

.slides-menu .status-actions button { display: none; }
.slides-menu .status-actions button.show { display: block; }
.slides-menu .status-actions .popup { display: block; }


#websocket-reconnect { position: fixed; top: 0; right: 0; z-index: 10; }
#slideshow-join { position: fixed; top: 0; right: 4px; z-index: 9; font-size: 22px; }
.slideshow-address { font: 28px monospace; }
ol.slides { margin: 0; padding: 0; list-style: none; }

/* baseline defaults for a slide-like environment */
html { margin: 0; padding: 0; }
body { margin: 0 0 -4em 0; padding: 0; }
table { border-collapse: collapse; }
ul, ol { list-style: outside; padding: 0px 0px 0px 1em; text-align:left; }
h1 { font-size: 150%; }
h2 { font-size: 130%; margin: .5em; }
h3 { font-size: 110%; margin: .5em; }
.slides {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.slide {
	position: relative;
	display: inline-block;
	text-align: center;
	padding: 1em;
	margin: 1em 0;
	font-size: 40px;
	/*border: 1px solid #444;*/
	min-width: 900px;
}
.slide.dense {
	font-size: 30px;
}
.slide > h1 { margin-top: .2em; }
.slide > ul, .slide > ol { display: inline-block; max-width: 90%; }
.slide > ul > li { margin-bottom: .5em; }
.slide > figure {
	position: relative;
	/* top:50%; left:50%; transform: translate(-50%,-50%); */
	display: inline-block; max-width: 80%; width: auto;
	margin: 0; padding: 0;
}
.slide > figure > figcaption {
	position: absolute;
	bottom: 0; left:50%; transform: translate(-50%,100%);
	display: block; white-space:nowrap;
	text-align: center;
}
.slide .notes { display: none; }

/* styles for this presentation */
body { background-color: #333; color: #DDD; }
body.high-contrast { background-color: #000; color: #FFF; }
th { vertical-align: baseline; text-align: left; }
td { vertical-align: baseline; text-align: left; }
table.data {
	font-size: 90%;
	font-family: sans-serif;
	border-collapse: separate;
	border-spacing: 8px;
}
table.data th { padding: 4px 8px; background-color: #222; }
.high-contrast table.data th { background-color: #151515; }
.high-contrast table.data td { background-color: #303030; }
li { margin-bottom: .2em; }

.chat-app { font-size: 14px; }
.chatlog {
	background-color: #EEE; color: black;
	text-align: left;
	width: 775px;
	height: 400px;
	padding: 4px;
	border: 1px solid black;
	font-family: courier, sans-serif, monospace;
	white-space: pre-wrap;
	overflow-y: scroll;
}
.chatline { width: 640px; }
.chatline input { display: inline-block; background-color: #EEE; color: black; width: 80%; }
.chatline button { display: inline-block; width: 15%; }
.slide pre { text-align: left; }
.slide code { white-space: pre; font-size: 40%; margin:4px; text-align: left; }

h1.loud { font-size: 200%; }
h1.lesson { display:inline-block; white-space: nowrap; text-align:center; font-size: 150%; }
a { text-decoration: none; color: #DEF; }
figure.lesson { width: 90%; }
figure img { height: 10em; }
.slide figure.extern { min-height: 8em; }
.slide figcaption.small { font-size: 60%; }
figure pre { margin:0px; }
.slide figure.code { text-align: left; }
.slide figure.code.wider { width: 80%; }
.slide figure.code.wider code { font-size: 35%; }
.slide ul.bare li { list-style-type: none; }
.slide ul li.bare { list-style-type: none; }
.slide ul ul { padding-top: .4em; }
